# VSCode instructions
# Install extension editorconfig
# Install npm module editorconfig globally. npm i -G editorconfig
root = true

[*.{yml,yaml}]
indent_style = space

[*]
indent_style = tab
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
